{% extends 'base/base.html' %}

{% block contentLogin %}
<div class="container " style="margin-top:10%">
        <h1 class="row justify-content-center">Login</h1>
        <div class="row justify-content-center mt-4">
            <form action="" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <div style="display:flex; justify-content:space-around; padding-left:25%;" class="mt-4">
                    <p> <input type=submit value='Login'> </input> </p>
                    <a href="{% url 'users:register' %}">Register</a>
                </div>
            </form>
        </div>
 </div>
    
    
{% endblock %}